@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --accent-1: 320 100% 99.41176470588235%;
    --accent-2: 325.71428571428584 77.77777777777784% 98.23529411764707%;
    --accent-3: 325.71428571428567 91.30434782608698% 95.49019607843137%;
    --accent-4: 323.22580645161287 79.48717948717947% 92.3529411764706%;
    --accent-5: 322.5 68.96551724137935% 88.62745098039215%;
    --accent-6: 322.5 60% 84.31372549019608%;
    --accent-7: 323.3898305084746 55.14018691588783% 79.01960784313727%;
    --accent-8: 321.8918918918919 52.11267605633804% 72.15686274509804%;
    --accent-9: 322 64.65517241379311% 54.50980392156863%;
    --accent-10: 322.25165562913907 61.1336032388664% 51.56862745098039%;
    --accent-11: 321.9607843137255 65.1063829787234% 46.07843137254902%;
    --accent-12: 320.2409638554217 69.74789915966385% 23.333333333333332%;
    --accent-foreground: 0 0% 100%;
    --accent: 322.25165562913907 61.1336032388664% 51.56862745098039%;
    --background: 300 20% 99.01960784313727%;
    --base-1: 300 20% 99.01960784313727%;
    --base-2: 270 19.999999999999943% 98.0392156862745%;
    --base-3: 285 14.285714285714226% 94.50980392156862%;
    --base-4: 275.99999999999983 11.627906976744214% 91.5686274509804%;
    --base-5: 274.28571428571416 12.280701754385966% 88.8235294117647%;
    --base-6: 262.4999999999999 11.428571428571427% 86.27450980392157%;
    --base-7: 257.99999999999994 11.111111111111107% 82.35294117647058%;
    --base-8: 249.2307692307693 10.400000000000006% 75.49019607843137%;
    --base-9: 249.2307692307692 5.990783410138242% 57.45098039215686%;
    --base-10: 250.00000000000006 5.042016806722695% 53.333333333333336%;
    --base-11: 251.99999999999994 4.807692307692305% 40.78431372549019%;
    --base-12: 257.14285714285717 10.144927536231885% 13.529411764705882%;
    --border: 262.4999999999999 11.428571428571427% 86.27450980392157%;
    --card-foreground: 257.14285714285717 10.144927536231885%
      13.529411764705882%;
    --card: 270 19.999999999999943% 98.0392156862745%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --destructive-foreground: 332.3684210526316 63.33333333333334%
      23.52941176470588%;
    --destructive: 336.140350877193 72.76595744680851% 53.92156862745098%;
    --foreground: 257.14285714285717 10.144927536231885% 13.529411764705882%;
    --input: 262.4999999999999 11.428571428571427% 86.27450980392157%;
    --muted-foreground: 251.99999999999994 4.807692307692305% 40.78431372549019%;
    --muted: 270 19.999999999999943% 98.0392156862745%;
    --popover-foreground: 257.14285714285717 10.144927536231885%
      13.529411764705882%;
    --popover: 300 20% 99.01960784313727%;
    --primary-foreground: 0 0% 100%;
    --primary: 271.57894736842104 44.88188976377953% 50.19607843137255%;
    --radius: 0.5rem;
    --ring: 262.4999999999999 11.428571428571427% 86.27450980392157%;
    --secondary-foreground: 251.99999999999994 4.807692307692305%
      40.78431372549019%;
    --secondary: 270 19.999999999999943% 98.0392156862745%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-background: 0 0% 98%;
    --sidebar-border: 220 13% 91%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --success: 142.1 76.2% 36.3%;
    --success-foreground: 355.7 100% 97.3%;
    --info: 221 83% 53%;
    --info-foreground: 210 40% 98%;
    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 98%;
  }
  .dark {
    --accent-1: 315 19.047619047619047% 8.235294117647058%;
    --accent-2: 316 29.41176470588236% 10%;
    --accent-3: 315 41.02564102564102% 15.294117647058824%;
    --accent-4: 315.2727272727273 57.89473684210527% 18.627450980392158%;
    --accent-5: 317.70491803278685 52.13675213675214% 22.941176470588236%;
    --accent-6: 318.75 43.83561643835617% 28.627450980392155%;
    --accent-7: 320.8 40.106951871657756% 36.666666666666664%;
    --accent-8: 321.875 40% 47.05882352941176%;
    --accent-9: 322 64.65517241379311% 54.50980392156863%;
    --accent-10: 322.97872340425533 68.11594202898551% 59.411764705882355%;
    --accent-11: 326.8421052631579 100% 77.64705882352942%;
    --accent-12: 325.9090909090909 91.6666666666667% 90.58823529411765%;
    --accent-foreground: 0 0% 100%;
    --accent: 322.97872340425533 68.11594202898551% 59.411764705882355%;
    --background: 270 5.555555555555555% 7.0588235294117645%;
    --base-1: 270 5.555555555555555% 7.0588235294117645%;
    --base-2: 270 3.8461538461538463% 10.196078431372548%;
    --base-3: 260.00000000000006 4.225352112676061% 13.92156862745098%;
    --base-4: 270 4.651162790697675% 16.862745098039216%;
    --base-5: 263.99999999999994 4.950495049504953% 19.80392156862745%;
    --base-6: 269.99999999999994 5% 23.52941176470588%;
    --base-7: 257.1428571428571 4.697986577181211% 29.215686274509807%;
    --base-8: 258.00000000000006 4.9999999999999964% 39.21568627450981%;
    --base-9: 250.90909090909096 4.803493449781661% 44.90196078431372%;
    --base-10: 250.90909090909085 4.31372549019608% 50%;
    --base-11: 258.00000000000006 6.944444444444459% 71.76470588235294%;
    --base-12: 240 6.249999999999978% 93.72549019607843%;
    --border: 269.99999999999994 5% 23.52941176470588%;
    --card-foreground: 240 6.249999999999978% 93.72549019607843%;
    --card: 270 3.8461538461538463% 10.196078431372548%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --destructive-foreground: 330 91.30434782608698% 90.98039215686275%;
    --destructive: 338.21656050955414 82.19895287958116% 62.549019607843135%;
    --foreground: 240 6.249999999999978% 93.72549019607843%;
    --input: 269.99999999999994 5% 23.52941176470588%;
    --muted-foreground: 258.00000000000006 6.944444444444459% 71.76470588235294%;
    --muted: 270 3.8461538461538463% 10.196078431372548%;
    --popover-foreground: 240 6.249999999999978% 93.72549019607843%;
    --popover: 270 5.555555555555555% 7.0588235294117645%;
    --primary-foreground: 0 0% 100%;
    --primary: 272.0689655172414 55.23809523809524% 58.82352941176471%;
    --radius: 0.5rem;
    --ring: 269.99999999999994 5% 23.52941176470588%;
    --secondary-foreground: 258.00000000000006 6.944444444444459%
      71.76470588235294%;
    --secondary: 270 3.8461538461538463% 10.196078431372548%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --success: 143.8 61.2% 33.3%;
    --success-foreground: 138 62.5% 96.1%;
    --info: 217 91% 60%;
    --info-foreground: 214 32% 91%;
    --warning: 48 96% 53%;
    --warning-foreground: 48 88% 96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
